html {
    font-size: 100px;
}
body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: #900600;
}
::-webkit-scrollbar {
    width: 0.1rem;
}
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    border-radius: 0.1rem;  /*滚动条的背景区域的圆角*/
    background-color: #690505;/*滚动条的背景颜色*/  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 0.1rem;  /*滚动条的圆角*/
    background-color: #ffca71;  /*滚动条的背景颜色*/
} 

a {
    text-decoration: none;
    color: #f5d9a8;
    font-weight: bold;
    margin: 0 auto;
}
ul {
    margin: 0 auto;
}
li {
    margin: auto;
}
input {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
    color: white;
    text-align: center;
    position: relative;
    bottom: 2%;
    border-bottom-width: 1%;
    border-bottom-color: #004FFF;
    border-top: none;
    border-left: none;
    border-right: none;
    background: linear-gradient(to top, #0048BB 0%, #004876 60%);
    font-size: 0.45rem;
}

.titleName {
    overflow: auto;
    width: 7.7rem;
    height: 3.8rem;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/main/titleName.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.mapleLeafL {
    width: 5.4rem;
    position: absolute;
    left: 0;
    top: 0;
}
.mapleLeafR {
    width: 2.7rem;
    position: absolute;
    right: 0;
    top: 0;
}
.crane {
    width: 4.5rem;
}
.craneClip {
    overflow: hidden;
    width: 3rem;
    position: absolute;
    right: 0;
    top: 2.1rem;
}

.functionArea {
    width: 90vw;
    margin: 0 auto;
    background-color: #004876;
    border-style: solid;
    border-color: #ffca71;
    border-width: 0.06rem;
    border-radius: 0.1rem;
    font-size: 0.45rem;
}
.inputTable {
    width: 94%;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 0.6rem;
    border-style: solid;
    border-color: #ffca71;
    border-width: 0.04rem;
    border-right: none;
    border-bottom: none;
}
.inputTable td {
    width: 33.3%;
    height: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #ffca71;
    border-width: 0.04rem;
    border-top: none;
    border-left: none;
    line-height: 1rem;
}
.numText {
    float: left;
    width: 15%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0; 
    line-height: 1rem;
}
.numNameBlock {
    float: left;
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1rem;
}
.scoreBlock {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1rem;
}
.functionBlock {
    width: 96%;
    height: 1rem;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 0.3rem;
}
.buttonBlockLeft {
    overflow: auto;
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1rem;
}
.buttonBlockRight {
    float: right;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.settleAccountButton {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: white;
    text-align: center;
    border-style: none;
    background-image: url(../images/main/settleAccountBtnBG.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    line-height: 1rem;
    font-size: 0.4rem;
}
.functionButton {
    overflow: auto;
    float: left;
    width: 43%;
    height: 100%;
    margin-left: 5%;
    color: white;
    border-style: solid;
    border-width: 0.06rem;
    border-radius: 0.2rem;
    background-color: #004876;
    font-size: 0.4rem;
}
.messageBox {
    overflow: auto;
    width: 96%;
    height: 1rem;
    text-align: center;
    color: white;
    margin-left: 2%;
    line-height: 1rem;
    font-size: 3vw;
}
.descriptionArea {
    overflow: auto;
    width: 90vw;
    height: 7.1rem;
    margin: 0 auto;
    margin-top: 0.6rem;
    margin-bottom: 1.5rem;
    background-color: #004876;
    border-style: solid;
    border-color: #ffca71;
    border-width: 0.06rem;
    border-radius: 0.1rem;   
    font-size: 2.8vw;
}
.placeholder {
    height: 1rem;
}
.huaPaiRule {
    width: 90%;
    height: 72%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #ffecd9;
    border-style: solid;
    border-color: #ffca71;
    border-width: 0.04rem;
    border-radius: 0.4rem;   
}
.huaPaiRuleTitle {
    width: 70%;
    height: 7vw;
    color: white;
    text-align: center;
    position: relative;
    top: -3.8vw;
    margin: 0 auto;
    background-image: url(../images/main/ruleBG.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 7vw;
    font-size: 3vw;
}
.huaPaiRuleText {
    overflow: auto;
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    position: relative;
    line-height: 200%;
    font-size: 3.5vw;
}


.footUp {
    width: 100%;
    height: 0.8rem;
    background-color: #54b7fd;
}
.footDown {
    width: 100%;
    height: 0.6rem;
    text-align: center;
    color: white;
    background-color: #34a68d;
    font-size: 0.3rem;
}
.pineL {
    width: 30%;
    height: 6rem;
    position: absolute;
    left: 0;
    top: 0rem;
    background-image: url(../images/main/pineL.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.pineR {
    width: 30%;
    height: 6rem;
    position: absolute;
    right: 0;
    top: 0rem;
    background-image: url(../images/main/pineR.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.copyright {
    overflow: auto;
    width: 40%;
    height: 0.6rem;
    margin: 0 auto;
    line-height: 0.6rem;
}
.lineTop50 {
    float: right;
    width: 50%;
    height: 0.04rem;
    margin: 0rem;
    margin-top: 0.093rem;
    padding: 0;
    background-color: black;
}
.lineTop60 {
    float: right;
    width: 60%;
    height: 0.04rem;
    margin: 0rem;
    margin-top: 0.093rem;
    padding: 0;
    background-color: black;
}
.lineMiddle70 {
    float: right;
    width: 70%;
    height: 0.04rem;
    margin: 0rem;
    margin-top: 0.093rem;
    padding: 0;
    background-color: black;
}
.lineBottom60 {
    float: right;
    width: 60%;
    height: 0.04rem;
    margin: 0rem;
    margin-top: 0.093rem;
    padding: 0;
    background-color: black;
}
.lineBottom50 {
    float: right;
    width: 50%;
    height: 0.04rem;
    margin: 0rem;
    margin-top: 0.093rem;
    padding: 0;
    background-color: black;
}
